psycopg2_binary==2.8.2
SQLAlchemy==1.4.28
tqdm==4.47.0
requests==2.21.0
beautifulsoup4==4.10.0
cloudscraper==1.2.58
python-dotenv==0.19.2
lmdb==1.2.1
python_magic==0.4.24
psycopg2==2.9.2
python_swiftclient==3.13.0
typing
pandas
testing.postgresql
python-keystoneclient==4.3.0
python-magic==0.4.15