Flask==1.1.1
Flask-Bootstrap==3.3.7.1
pandas==1.3.5
psycopg2_binary==2.8.2
SQLAlchemy==1.4.28
tqdm==4.47.0
requests==2.21.0
beautifulsoup4==4.10.0
cloudscraper==1.2.58
python-dotenv==0.19.2
lmdb==1.2.1
python-magic==0.4.15
psycopg2==2.9.2
python_swiftclient==3.13.0
python-keystoneclient==4.0.0
redis==3.5.3
typing
testing.postgresql
rq==1.9.0
jupyter
